# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ files
[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4

# CMake files
[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# PowerShell files
[*.ps1]
indent_style = space
indent_size = 4

# Batch files
[*.bat]
indent_style = space
indent_size = 4
end_of_line = crlf
